{% extends 'base.html' %}


{% block head_title %}{{ block.super }} - galleria{% endblock head_title %}

{% block content %}
<div class="container text-center"><h1 style="color: #FFAFCC; size: 50px; ">IDEE per TUTTI!</h1></div>

<div class="container my-5 text-center" style="max-width:580px">
    <h1 style="color: #cdb4db "><strong>CREAZIONI DI IDEE ARTIGIANALI</strong></h1>
    
    <p class="lead">Concediti ora una favolosa idea </p>
    
    <a href="#" type="button" class="btn btn-secondary">Contattaci</a>
</div>

<div class="container">
    <div class="row">
        {% for articolo in lista_articoli %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{articolo.foto.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5><strong>{{ articolo.nome }}</strong></h5>
                    <p class="card-text">€{{ articolo.prezzo }}</p>
                    <a href="{% url 'articolo_view' pk=articolo.pk %}" class="btn btn-primary">Descrizione</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}