{% extends 'base.html' %}


{% block head_title %}{{ block.super }} - galleria{% endblock head_title %}

{% block content %}

	
<div class="row">
	<div class="col-sm-6 mb-3 mb-sm-3">
	  <div class="card">
		<div class="card-body">
			<img src="{{ oggetto.foto.url }}" class="card-img-top" alt="...">
		</div>
	  </div>
	</div>
	<div class="col-sm-6">
	  <div class="card">
		<div class="card-body">
			<div class="card-title"><h3>Descrizione:</h3></div>
			<h4 class="card-text">{{ oggetto.descrizione }}</h4>
		</div>
	  </div>
	</div>
  </div>    
	
<div class="row" style="text-align: right;">
	<h1>{{ oggetto.nome }} | € {{ oggetto.prezzo }}</h1>
	<a href="#" type="button" class="btn btn-secondary">Puoi scegliere una variante</a>
</div>

{% for tipologia in categoria %}

<div class="row">
	<div class="container" style="padding: 1cm;">
		<h4><a href="{% url 'view_categoria' pk=tipologia.pk %}"> {{ tipologia.titolo }} </a></h4>
	</div>
</div>
{% endfor %}

{% endblock content %}