{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - {{ categoria.titolo }}{% endblock head_title %}

{% block content %}

{% for richiesta in richiesta_w %}
    <div class="card my-3">
            <div class="card-header pb-0">
                <h2>Articolo: <span style="color: aqua;">{{ richiesta_w.articolo_appartenenza }}</span></h2>
				<h3>"{{ categoria.titolo }}"</h3>
            </div>
					
            <div class="card-header py-0">
				
                <p class="text-muted mb-0">
                    {{ richiesta.data_richiesta|date:"d M Y" }}
					<br>User: {{ richiesta.autore_richiesta }}</p><p class="text-muted" >Richieste: {{ richiesta.autore_richiesta.richieste.count }}</p>
                </p>
            </div>
        
	<div class="card-header py-0">
		<h4 style="color: blueviolet;">Ordinazione:</h4>
        <div class="card-body">
            <div class="col-xl-2 col-4">
                <h5> {{ richiesta.contenuto}}</h5>  
            </div>
        </div>
    </div>
</div>
 
{% endfor %}

{% endblock content %}